<!--begin::Portlet-->
<div class="kt-portlet">
    <div class="kt-portlet__body">

        <!--begin::Section-->
        <div class="kt-section">
            <div class="kt-section__content">
                <ul class="kt-nav kt-nav--v2 kt-nav--md-space kt-nav--bold kt-nav--lg-font">
                    <li class="kt-nav__item  {{ 'active' if section=='documentation' else ''}}">
                        <a href="{{url_for('documentation')}}" class="kt-nav__link">
                            <span class="kt-nav__link-text ">Platform Introduction</span>
                        </a>
                    </li>
                    <li class="kt-nav__item {{ 'active' if section=='api_documentation' else ''}}">
                        <a href="{{url_for('api_documentation')}}" class="kt-nav__link">
                            <span class="kt-nav__link-text">API</span>
                        </a>
                    </li>
                    <li class="kt-nav__item {{ 'active' if section=='credits' else ''}}">
                        <a href="{{url_for('credits')}}" class="kt-nav__link">
                            <span class="kt-nav__link-text">Credits</span>
                        </a>
                    </li>
                    <li class="kt-nav__item {{ 'active' if section=='license' else ''}}">
                        <a href="{{url_for('license')}}" class="kt-nav__link">
                            <span class="kt-nav__link-text">License</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--end::Section-->
    </div>
</div>

<!--end::Portlet-->