<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="../static/assets2/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../static/assets2/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="../static/assets2/libs/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/assets2/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="../static/assets2/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="../static/assets2/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="../static/assets2/libs/jarallax/dist/jarallax.css">
    <link rel="stylesheet" href="../static/assets2/fonts/feather/feather.css">
	<style>
		@media print {
		  section {page-break-before: avoid; page-break-after: avoid;}
		  footer {page-break-before: avoid; page-break-after: avoid;}
		  #indicators{page-break-before: always;}
		}
	</style>
    <!-- 
      Theme Sans Serif CSS
      Remove the "disabled" attribute if you want to enable Sans Serif for headings.
    -->
    <!-- build:css ../static/assets2/css/theme-sans-serif.min.css id="themeSansSerif" disabled -->
    <link rel="stylesheet" href="../static/assets2/css/theme-sans-serif.css" id="themeSansSerif" disabled>
    <!-- endbuild -->

    <!--
      Demo JS
      Remove the code below on a production website.
    -->
    <!-- build:js ../static/assets2/js/demo.min.js -->
    <script src="../static/assets2/js/demo.js"></script>
    <!-- endbuild -->

    <!-- Theme CSS -->
    <!-- build:css ../static/assets2/css/theme.min.css -->
    <link rel="stylesheet" href="../static/assets2/css/theme.css">
    <!-- endbuild -->

    <title>Goodkit</title>

  </head>
  <body>
    <!-- SHAPE -->
<!--     <div class="position-relative">
      <div class="shape shape-fluid-x shape-top text-white">
        <div class="shape-img pb-5">
          <svg viewBox="0 0 100 50" preserveAspectRatio="none"><path d="M0 25h25L75 0h25v50H0z" fill="currentColor"/></svg>
        </div>
      </div>
    </div>
 -->
    <!-- CONTENT -->
    <section class="py-10 py-md-12">
      <div class="container-lg">
        <div class="row justify-content-center" >
          <div class="col-md-10 col-lg-8">
	        <div class="text-center">
	
	            <!-- Preheading -->
	            <p class="text-uppercase text-primary mb-5">
	              Threat Report
	            </p>
	
	            <!-- Heading -->
	            <p class="display-3 mb-4">
	              {{report_info.title}}
	            </p>
	
	            <!-- Text -->
	            <p class="font-size-lg text-gray-600 mb-9">
	              {{report_info.friendly_id}}
	            </p>
	
          </div>

            <!-- Divider -->
            <hr class="hr-sm border-warning mb-9">

            <!-- Text -->
            <p class="mb-9">
              {{new_content | safe }}
            </p>

            <!-- Heading -->
            <h1 class="mb-4" id="indicators">
              Indicators
            </h1>

            <!-- Text -->
            <p>
              <!-- Card -->


                <!-- Table -->
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Indicator</th>
                        <th scope="col">Type</th>
                      </tr>
                    </thead>
                    <tbody>
{% for indicator in indicators %}
                      <tr>
                        <td>{{indicator.indicator}}</td>
                        <td>{{indicator.indicator_type}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>

       
            </p>

           

            <!-- Divider -->
            <hr class="my-9">

            <!-- Footer -->
            <footer class="d-flex align-items-center">

              <!-- Avatar -->
             

              <!-- Body -->
              <div class="ml-4">

                <!-- Title -->
                <h4 class="font-family-sans-serif mb-0">
                  {{report_info.creator}}
                </h4>

                <!-- Position -->
                <p class="small text-muted mt-n1 mb-0">
                  Published {{report_info.created_at}}
                </p>

              </div>

            </footer>

          </div>
        </div>
      </div>
    </section>

    


    <!-- JAVASCRIPT -->
    <!-- Polyfills -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.find,Array.prototype.includes,Array.from,Object.entries,Promise,Object.assign"></script>

    <!-- Libs JS -->
    <script src="../static/assets2/libs/jquery/dist/jquery.min.js"></script>
    <script src="../static/assets2/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="../static/assets2/libs/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="../static/assets2/libs/aos/dist/aos.js"></script>
    <script src="../static/assets2/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets2/libs/countup.js/dist/countUp.min.js"></script>
    <script src="../static/assets2/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="../static/assets2/libs/flickity-fade/flickity-fade.js"></script>
    <script src="../static/assets2/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="../static/assets2/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="../static/assets2/libs/jarallax/dist/jarallax-video.min.js"></script>
    <script src="../static/assets2/libs/jarallax/dist/jarallax-element.min.js"></script>
    <script src="../static/assets2/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="../static/assets2/libs/typed.js/lib/typed.min.js"></script>

    <!-- Theme JS -->
    <!-- build:js ../static/assets2/js/theme.min.js -->
    <script src="../static/assets2/js/aos.js"></script>
    <script src="../static/assets2/js/card-stack.js"></script>
    <script src="../static/assets2/js/countup.js"></script>
    <script src="../static/assets2/js/fancybox.js"></script>
    <script src="../static/assets2/js/flickity.js"></script>
    <script src="../static/assets2/js/highlight.js"></script>
    <script src="../static/assets2/js/modal.js"></script>
    <script src="../static/assets2/js/navbar.js"></script>
    <script src="../static/assets2/js/navbar-dropdown.js"></script>
    <script src="../static/assets2/js/password.js"></script>
    <script src="../static/assets2/js/popovers.js"></script>
    <script src="../static/assets2/js/price.js"></script>
    <script src="../static/assets2/js/prices.js"></script>
    <script src="../static/assets2/js/smooth-scroll.js"></script>
    <script src="../static/assets2/js/svgshim.js"></script>
    <script src="../static/assets2/js/table.js"></script>
    <script src="../static/assets2/js/table-features.js"></script>
    <script src="../static/assets2/js/tooltips.js"></script>
    <script src="../static/assets2/js/typed.js"></script>
    <!-- endbuild -->


  </body>
</html>
