{% extends 'base.html' %}
{% block breadcrumbs %}
    <!-- begin:: Subheader -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <span style="Font-family:rubik;font-weight:300;font-size:28px;">Edit Consumer</span>
            </div>
            
        </div>
    </div>
{% endblock %}
{% block app_content %}

						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="row">
								<div class="col-md-12">

									<!--begin::Portlet-->
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
											</div>
										</div>

										<!--begin::Form-->
										<form class="kt-form" action="/edit_consumer/{{consumer.id}}" method="post">
										<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
											<div class="kt-portlet__body">
												<div class="form-group">
													<label>Additional Team Information/Name</label>
													<input type="text" class="form-control" placeholder="" name="subtitle" value="{{consumer.subtitle if consumer.subtitle else ''}}">
													<span class="form-text text-muted">This could be the specific team in the consumer's organization, or a department name</span>
												</div>
												<div class="form-group">
													<label>Consumer Email Address</label>
													
													<input type="text" class="form-control" placeholder="" name="email" value="{{consumer.email if consumer.email else ''}}">
													<span class="form-text text-muted">Enter an email address for this consumer for easier coordination</span>
												</div>
												<div class="form-group">
													<label>POC Name</label>
													
													<input type="text" class="form-control" placeholder="" name="poc" value="{{consumer.poc if consumer.poc else ''}}">
													<span class="form-text text-muted">Who is your primary Point-Of-Contact for threat intelligence coordination?</span>
												</div>
											</div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<button type="submit" class="btn btn-primary rounded-sm">Submit</button>
													<button type="reset" class="btn btn-outline-primary rounded-sm"><a href="/consumers">Cancel</a></button>
												</div>
											</div>
										</form>

										<!--end::Form-->
									</div>

									<!--end::Portlet-->

									
								</div>
							</div>
						</div>

						<!-- end:: Content -->
{% endblock %}
{% block footer_scripts  %}
<script src="static/assets/js/pages/components/forms/widgets/tagify.js" type="text/javascript"></script>{% endblock %}
