{% extends 'base.html' %}
{% block breadcrumbs %}
{% endblock %}
{% block app_content %}
						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="row">

								<div class="col-xl-8">
									<!--begin::Portlet-->
									<div class="kt-portlet kt-portlet--mobile">
										<div class="kt-portlet__head kt-portlet__head--lg">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													<span class="kt-list__icon"><i class="flaticon2-layers-1 kt-font-warning"></i></span>  {{req_info.friendly_id}} &nbsp; <a href="/edit_req/{{req_info.id}}"><i class="flaticon2-edit kt-font-primary" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="right" data-content="Edit Requirement"></i></a> </h3> 
												</h3>
											</div>
											
										</div>
										<div class="kt-portlet__body">

											<div class="kt-section">
												<div class="kt-section__title">
													Summary
												</div>
												<div class="kt-section__content">
													<pre>{{req_info.summary}}</pre>
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-dashed"></div>
												<div class="kt-section__title">
													Intelligence Gaps
												</div>
												<div class="kt-section__content">
													<pre>{{req_info.gaps}}</pre>
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-solid"></div>
												<div class="kt-section__title">
													Consumers
												</div>
												<div class="kt-section__content">
													
														{% for consumer in final_consumers %} <a href="{{url_for('list_reqs', consumer=consumer)}}"><span class="btn btn-primary btn-sm rounded-sm"> {{ consumer }}</span> </a>{% endfor %}
													
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-solid"></div>
												<div class="kt-section__title">
													Collection Requirements
												</div>
												<div class="kt-section__content">
													<pre>{{req_info.collection_requirements}}</pre>
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-solid"></div>
												<div class="kt-section__title">
													Deliverables
												</div>
												<div class="kt-section__content">
													<pre>{{req_info.deliverables}}</pre>
												</div>
												<div class="kt-separator kt-separator--space-lg kt-separator--border-solid"></div>
												<div class="kt-section__title">
													Time Requirements
												</div>
												<div class="kt-section__content">
													<pre>{{ req_info.time_requirement.strftime('%m/%d/%Y') if req_info.time_requirement else ''}}</pre>
												</div>
											</div>
										</div>
									</div>
									<!--end::Portlet-->

									<div class="kt-portlet kt-portlet--mobile">
										<div class="kt-portlet__head kt-portlet__head--lg">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													 Comments &nbsp;
												</h3>
											</div>
											<div class="kt-portlet__head-toolbar">
												
											</div>



										</div>
										<div class="kt-portlet__body">
											
											<div class="kt-list">
												{% for comment in comments %}
												<div class="row kt-list__item">
													<div class="col-lg-10">
														<span class="kt-list__text kt-label-font-color-1"><span class="kt-label-font-color-3"><b><span style="font-size:16px;">{{comment.user}}</b></span></span>
														<br/>
														<span style="font-size:16px;">{{comment.comment}}</span></span>
													</div>
													<div class="col-lg-2 kt-list__time"><span style="font-size:16px;">{{ comment.updated_at | time_ago}}</span>
													</div>
												</div>
													{% endfor%}
												<div class="row kt-list__item">														
													<div class="col-lg-12"  style="padding-top: 20px; display: grid; grid-template-columns: 1fr 100px; ">
														<div>
															<input type="text" class="form-control" placeholder="Type here..." name="new_comment" id="new_comment"  value="" style="width: 97%">
														</div>
														<div style="position: absolute; right:0px; top: 20px;">
															<input type="button" id="make_comment" value="ADD COMMENT" class="btn btn-primary btn-sm btn-bold rounded-sm" >
														</div>
													</div>
												</div>				
											</div>
										</div>
									</div>
								</div>

								<div class="col-xl-4">

									<!--begin::Portlet-->
									<div class="kt-portlet kt-portlet--mobile">
										<div class="kt-portlet__head kt-portlet__head--lg">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Requirement Metadata
												</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-section">
												<div class="kt-section__desc">
													<span style="font-family:DM Sans;font-weight:500;font-size:12px;color:#B0BAC9;letter-spacing:1.12px;">WRITER</span>
												</div>
													<span style="font-family:DM Sans;font-size:15px;color:#2E384D;">{{req_info.creator}}</span>

													<div class="kt-section__desc">
														<span style="font-family:DM Sans;font-weight:500;font-size:12px;color:#B0BAC9;letter-spacing:1.12px;">STAKEHOLDER</span>
													</div>
														<span style="font-family:DM Sans;font-size:15px;color:#2E384D;">{{req_info.owner}}</span>
												
														<div class="kt-section__desc">
															<span style="font-family:DM Sans;font-weight:500;font-size:12px;color:#B0BAC9;letter-spacing:1.12px;">CREATED</span>
														</div>
															<span style="font-family:DM Sans;font-size:15px;color:#2E384D;">{{req_info.created_at}}</span>
													
															<div class="kt-section__desc">
																<span style="font-family:DM Sans;font-weight:500;font-size:12px;color:#B0BAC9;letter-spacing:1.12px;">LAST UPDATED</span>
															</div>
																<span style="font-family:DM Sans;font-size:15px;color:#2E384D;">{{req_info.updated_at}}</span>
												
																<div class="kt-section__desc">
																	<span style="font-family:DM Sans;font-weight:500;font-size:12px;color:#B0BAC9;letter-spacing:1.12px;">PRIORITY</span>
																</div>
																	<span style="font-family:DM Sans;font-size:15px;color:#2E384D;">
																		{% if req_info.priority == 'Low' %}
												<span class="btn badge-success-soft btn-bold  btn-sm rounded-sm">{{req_info.priority}}</span>
												{% elif req_info.priority == 'Medium' %}
												<span class="btn badge-warning-soft btn-bold  btn-sm rounded-sm">{{req_info.priority}}</span>
												{% elif req_info.priority == 'High' %}
												<span class="btn badge-danger-soft btn-bold  btn-sm rounded-sm">{{req_info.priority}}</span>
												
												{% endif %}</span>
											
												
											</div>	
										</div>
									</div>
									<!--end::Portlet-->
								

									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">Related Reports</h3>
											</div>
										</div>
										<div class="kt-portlet__body">
											<div class="kt-list ">

												{% for report in final_list %}
												<div class="kt-list__item">
													<span class="kt-list__icon"><i class="flaticon2-medical-records kt-font-info"></i></span>
													<span class="kt-list__text"><a href="/report/{{report['id']}}" style="color:#000;font-size:14px;">{{ report['title'] }}</a></span>
												</div>
												{% endfor %}


											</div>
										</div>
									</div>
								</div>


							</div>
						</div>

						<!-- end:: Content -->
{% endblock %}
{% block footer_scripts %}
 
		<!-- begin:: Topbar Offcanvas Panels -->

		
		<script>
	$(function() {
		$('#make_comment').click(function () {  
        		
        		if($('#new_comment').val() != '') {
            	$.post('{{url_for('add_comment')}}',   // url
         		       { 'comment': $('#new_comment').val(), 'csrf_token':'{{csrf_token()}}','obj_type':'requirement', 'obj_id':'{{req_info.id}}', 'user':'{{user_id}}' }, // data to be submit
         		       function(data, status, jqXHR) {// success callback
         		                if(data=='success') {
         		                	location.reload();
         		                } else {
         		                	alert('An error occurred: '+data)
         		                }
         		                
         		        })
        		}
        	});
	});
</script>
		
{% endblock %}
