{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link href="static/assets/css/pages/wizards/wizard-v1.css" rel="stylesheet" type="text/css" />
{%endblock%}
{% block breadcrumbs %}

{% endblock %}
{% block app_content %}
						<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
							<div class="kt-portlet">
								<div class="kt-portlet__body kt-portlet__body--fit">
									<div class="kt-grid kt-grid--desktop-xl kt-grid--ver-desktop-xl kt-wizard-v1 kt-wizard-v1--extend" id="kt_wizard_v4" data-ktwizard-state="step-first">
										<div class="kt-grid__item kt-wizard-v1__aside">

											<!--begin: Form Wizard Nav -->
											<div class="kt-wizard-v1__nav">

												<!--doc: Remove "kt-wizard-v1__nav-items--clickable" class and also set 'clickableSteps: false' in the JS init to disable manually clicking step titles -->
												<div class="kt-wizard-v1__nav-items kt-wizard-v1__nav-items--clickable">
													<div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
														<span>1</span>
													</div>
													<div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
														<span>2</span>
													</div>
													<div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
														<span>3</span>
													</div>
													<div class="kt-wizard-v1__nav-item" data-ktwizard-type="step">
														<span>4</span>
													</div>
												</div>
												<div class="kt-wizard-v1__nav-details">
													<div class="kt-wizard-v1__nav-item-wrapper" data-ktwizard-type="step-info" data-ktwizard-state="current">
														<div class="kt-wizard-v1__nav-item-title">
															Create your Intel Requirement
														</div>
														<div class="kt-wizard-v1__nav-item-desc">
															Requirements are the first step in the threat intelligence process and will drive your collection and reports
															<img src="static/assets/media/wizard/undraw_checklist_7q37.svg" alt="image" class="kt-wizard-v1__nav-image" />
														</div>
													</div>
													<div class="kt-wizard-v1__nav-item-wrapper" data-ktwizard-type="step-info">
														<div class="kt-wizard-v1__nav-item-title">
															Let's get some context
														</div>
														<div class="kt-wizard-v1__nav-item-desc">
															These questions will help better refine what you're customers are asking for
															<img src="static/assets/media/wizard/undraw_resume_folder_2_arse.svg" alt="image" class="kt-wizard-v1__nav-image" />
														</div>
													</div>
													<div class="kt-wizard-v1__nav-item-wrapper" data-ktwizard-type="step-info">
														<div class="kt-wizard-v1__nav-item-title">
															Let's dig deeper
														</div>
														<div class="kt-wizard-v1__nav-item-desc">
															Bear with us while we get some more information about this requirement
															<img src="static/assets/media/wizard/undraw_live_collaboration_2r4y.svg" alt="image" class="kt-wizard-v1__nav-image" />
														</div>
													</div>
													<div class="kt-wizard-v1__nav-item-wrapper" data-ktwizard-type="step-info">
														<div class="kt-wizard-v1__nav-item-title">
															We're all set!
														</div>
														<div class="kt-wizard-v1__nav-item-desc">
															Thanks for filling out this requirement, you're good to go!
															<img src="static/assets/media/wizard/undraw_hiring_cyhs.svg" alt="image" class="kt-wizard-v1__nav-image" />
														</div>
													</div>
												</div>
											</div>

											<!--end: Form Wizard Nav -->
										</div>
										<div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

											<!--begin: Form Wizard Form-->
											<form class="kt-form" id="kt_form" autocomplete="off" method="POST" action="/submit_ir">
											<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
												<!--begin: Form Wizard Step 1-->
												<div class="kt-wizard-v1__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
													<div class="kt-heading kt-heading--md">Let's get some basics</div>
													<div class="kt-separator kt-separator--height-xs"></div>
													<div class="kt-form__section kt-form__section--first">
														<div class="form-group">
															<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">CREATOR</span></label>
															<input type="text" class="form-control" id="username" required="true" name="username" placeholder="{{current_user.email}}" value="{{current_user.email}}">
															<span class="form-text text-muted">Please enter your username</span>
														</div>
														<div class="form-group">
															<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">OWNER</span></label>
															<input type="text" class="form-control" id="owner" name="owner" placeholder="{{owner}}" value="{{owner}}">
															<span class="form-text text-muted">Who is the POC for this requirement?</span>
														</div>
														
														<div class="form-group">
															<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">PRIORITY</span></label>
															<select class="form-control" id="priorityselect" name="priority">
																<option value="Low">Low</option>
																<option value="Medium">Medium</option>
																<option value="High">High</option>
															</select>
															<span class="form-text text-muted">What priority is this intelligence requirement?</span>
														</div>
													</div>
												</div>

												<!--end: Form Wizard Step 1-->

												<!--begin: Form Wizard Step 2-->
												<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
													<div class="kt-form__section kt-form__section--first">
														<div class="row">
															<div class="col-lg-12">
																<div class="form-group">
																	<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">TITLE</span></label>
																	<input type="text" class="form-control" id="title" required="true" name="title" placeholder="">
																	<span class="form-text text-muted">Please enter a title for this Intel Requirement</span>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-lg-12">
																<div class="form-group">
																	<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">ID</span></label>
																	<input type="text" class="form-control" name="friendly_id" id="friendly_id" required="true" placeholder="">
																	<span class="form-text text-muted">Please enter a ID for this intel req (i.e. IR-1-2020)</span>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-lg-12">
																<div class="form-group">
																	<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">SUMMARY</span></label>
																	<textarea class="form-control" name="summary" rows="15"></textarea>
																</div>
																
															</div>
														</div>
													</div>
												</div>

												<!--end: Form Wizard Step 2-->

												<!--begin: Form Wizard Step 3-->
												<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
													
													<div class="kt-separator kt-separator--height-xs"></div>
													<div class="kt-form__section kt-form__section--first">
														<div class="row">
															<div class="col-xl-12">
																<div class="form-group">
																	<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">INTELLIGENCE GAPS</span></label>
																	<textarea class="form-control" id="gaps" name="gaps" rows="10"></textarea>
																	<span class="form-text text-muted">What are the specific intelligence gaps you're looking to fill?</span>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xl-12">
																<div class="form-group">
																	<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">CONSUMERS</span></label>
																	<input id="kt_tagify_1" placeholder='' id="consumers" value='' name="consumers" class="tagged-borders">
																	<span class="form-text text-muted">What team or organization will be consuming the intelligence generated by this requirement?</span>
																</div>
															</div>
														</div>
														
														<div class="row">
															<div class="col-xl-12">
																<div class="form-group">
																	<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">COLLECTION REQUIREMENTS</span></label>
																	<textarea class="form-control" id="collection_requirements" name="collection_requirements"></textarea>
																	<span class="form-text text-muted">What sort of data will be needed to satisfy this requirement?</span>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xl-12">
																<div class="form-group">
																	<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">DELIVERABLES</span></label>
																	<textarea class="form-control" id="deliverables" name="deliverables"></textarea>
																	<span class="form-text text-muted">What does the outcome of this work look like? A report? A CSV of URL's?</span>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xl-12">
																<div class="form-group">
																	<label><span style="font-family:Rubik;font-weight:500;font-size:12px;">TIME REQUIREMENT</span></label>
																	<div class="input-group date">
																		<input type="text" class="form-control tagged-borders" readonly placeholder="Select date" id="kt_datepicker_2" id="time_requirement" name="time_requirement" />
																		<div class="input-group-append">
																			<span class="input-group-text">
																				<i class="la la-calendar-check-o"></i>
																			</span>
																		</div>
																	</div>
																	<span class="form-text text-muted">When does this need to be done by?</span>
																</div>
															</div>
														</div>
													</div>

												</div>

												<!--end: Form Wizard Step 3-->

												<!--begin: Form Wizard Step 4-->
												<div class="kt-wizard-v1__content" data-ktwizard-type="step-content">
													<div class="kt-heading kt-heading--md">You're done!</div>
													<div class="kt-separator kt-separator--height-sm"></div>
													<div class="kt-form__section kt-form__section--first">
														Please verify all the information you submitted looks good. Don't worry if you need to make changes though, you can edit this afer you submit it. </p>Once you have double checked everything, click on the submit button below to get this generated.
													</div>
												</div>

												<!--end: Form Wizard Step 4-->

												<!--begin: Form Actions -->
												<div class="kt-form__actions">
													<div class="btn btn-primary rounded-sm" data-ktwizard-type="action-prev">
														Previous
													</div>
													<button class="btn btn-primary rounded-sm" data-ktwizard-type="action-submit">
														Submit
													</button>													
													<div class="btn btn-primary rounded-sm" data-ktwizard-type="action-next">
														Next Step
													</div>
												</div>

												<!--end: Form Actions -->
											</form>

											<!--end: Form Wizard Form-->
										</div>
									</div>
								</div>
							</div>
						</div>
					

						<!-- end:: Content -->
{% endblock %}
{% block footer_scripts  %}
		<!--begin::Page Scripts(used by this page) -->
		<script src="static/assets/js/pages/custom/wizards/wizard-ir.js" type="text/javascript"></script>
		<script src="static/assets/js/pages/components/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>
		<script src="static/assets/js/pages/components/forms/widgets/tagify.js" type="text/javascript"></script>
<script>
	$('#friendly_id').change(function(event) {
		var ok=false;
		var fid=encodeURIComponent($("#friendly_id").val());
		var jqxhr = $.getJSON('{{url_for("req_friendly_id_check")}}?friendly_id='+fid, function(data) {
			})
			  .done(function(data) {
					if(data['id'] != 'None') {
						alert('Another Intel Requirement already exists with friendly id:  '+$("#friendly_id").val());
						$("#friendly_id").val("");
					} 
			  })
	});
</script>
{% endblock %}

