{% extends 'base.html' %}
{% block breadcrumbs %}
										<!-- begin:: Subheader -->

{% endblock %}	
{% block app_content %}
						<!-- begin:: Content -->

						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

							<!--Begin::App-->
							<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

								<!--Begin:: App Aside-->
								
								{% with name=name, title=title, avatar=avatar, section='webhooks' %}
									{% include 'includes/settings_side.html' %}
								{% endwith %}
								<!--End:: App Aside-->

								<!--Begin:: App Content-->
								<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
									<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">Webhooks</h3>
											</div>
										</div>
										<form class="kt-form kt-form--label-right" method="post" action="{{url_for('webhooks')}}" id="kt_profile_form">
											<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
											<div class="kt-portlet__body">
												<div class="kt-section kt-section--first">
													<div class="kt-section__body">
														<div class="row">
															<div class="col-lg-12 text-center"><b>
		       										{% with messages = get_flashed_messages(with_categories=true) %}
		       										 {% if messages %}
														{% for category, message in messages %}
														       
														{{ message }}
															{% endfor %}
												    {% endif %}
											        {% endwith %}
																</b>
															</div>
														</div>
														<div class="form-group row">
															<label class="col-xl-3 col-lg-3 col-form-label">Slack Webhook URL</label>
															<div class="col-lg-9 col-xl-6">
                                                                <input type="text" class="form-control" value="{{ org.slack_webhook if org.slack_webhook else ''}}" name="slack_webhook" placeholder="https://some.webhook.com" >
															</div>
														</div>
														<div class="form-group row">
															<div class="col-lg-3 col-xl-3">
															</div>

															<div class="col-xl-9 col-lg-12 ">
																<div class="custom-control custom-switch">
																	<input type="checkbox" name="slack_webhook_on_req_create" {{ 'checked' if org.slack_webhook_on_req_create else '' }}  class="custom-control-input" id="reqCreateSwitch"/>
																	<label class="custom-control-label" for="reqCreateSwitch"><span style="font-size:14px;">Send notification when an intel requirement is created.</span></label>
																 </div>
															</div>
														</div>
														<div class="form-group row">
															<div class="col-lg-3 col-xl-3">
															</div>

															<div class="col-xl-9 col-lg-12 ">
																<div class="custom-control custom-switch">
																	<input type="checkbox" name="slack_webhook_on_req_update" {{ 'checked' if org.slack_webhook_on_req_update else '' }} class="custom-control-input" id="reqUpdateSwitch"/>
																	<label class="custom-control-label" for="reqUpdateSwitch"><span style="font-size:14px;">Send notification when an intel requirement is updated.</span></label>
																 </div>
															</div>
														</div>
														<div class="form-group row">
															<div class="col-lg-3 col-xl-3">
															</div>

															<div class="col-xl-9 col-lg-12 ">
																<div class="custom-control custom-switch">
																	<input type="checkbox" name="slack_webhook_on_report_create" {{ 'checked' if org.slack_webhook_on_report_create else '' }}  class="custom-control-input" id="reportCreateSwitch"/>
																	<label class="custom-control-label" for="reportCreateSwitch"><span style="font-size:14px;">Send notification when a report is created.</span></label>
																 </div>
															</div>
														</div>

													</div>
												</div>
												
											</div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<div class="row">
														<div class="col-lg-3 col-xl-3">
														</div>
														<div class="col-lg-9 col-xl-9">
															<button type="submit" class="btn btn-primary rounded-sm btn-bold">Submit</button>&nbsp;
															<button type="reset" class="btn btn-outline-primary rounded-sm">Cancel</button>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<!--End:: App Content-->
							</div>

							<!--End::App-->
						</div>

						<!-- end:: Content -->
{% endblock %}
{% block footer_scripts %}
		<script src="static/assets/js/pages/custom/profile/overview-3.js" type="text/javascript"></script>
{% endblock %}