<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Onboarding Screens</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:700,300'>
<link rel='stylesheet' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'>
<link href="static/assets/css/welcome.css" rel="stylesheet" type="text/css" />

</head>
<body>
<!-- partial:index.partial.html -->
<!-- / A set of walkthrough screens in HTML/CSS/JS. A personal experiment with layering images, CSS3 transitions, & flexbox. -->
<div class='walkthrough show reveal'>
  <div class='walkthrough-pagination'>
    <a class='dot active'></a>
    <a class='dot'></a>
    <a class='dot'></a>
    <a class='dot'></a>
    <a class='dot'></a>
  </div>
  <div class='walkthrough-body'>
    <ul class='screens animate'>
      <li class='screen active'>
        <div class='media logo'>
          <img class='logo' src='https://s3.amazonaws.com/jebbles-codepen/icon.png'>
        </div>
        <h3>
          Product Intro
          <br>Walkthrough</br>
        </h3>
        <p>This quick tutorial will mention a few of the key items you should get familiar with to use threatnote.io effectively. Sit back and enjoy the quick show!</p>
      </li>
      <li class='screen'>
        <div class='media books'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_1.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_2.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/book_icon_3.png'>
        </div>
        <h3>
          Intelligence
          <br>Requirements</br>
        </h3>
        <p>Intel Requirements are the first stop you should take. Use our handy-dandy IR wizard to help craft requirements for your intelligence collection, analysis and production. Identify stakeholders, gaps, deliverables and more!</p>
      </li>
      <li class='screen'>
          <div class='media files'>
            <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png'>
            <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png'>
            <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png'>
            <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png'>
        </div>
        <h3>
          Reports
          
        </h3>
        <p>Reports are generated in Markdown and seek to answer the gaps identified in your intelligence requirements. Use this ad-hoc as well to write-up any related threat activity as well, and have our indicator parsers do their magic and automatically enrich these bad boys.</p>
      </li>
      <li class='screen'>
        <div class='media bars'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_axis.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_3.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_2.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/bar_icon_1.png'>
        </div>
        <h3>
          Dashboards
          <br>and Consumers</br>
        </h3>
        <p>Get some sweet dashboards to help track progress, as well as a page to manage your Consumers of intelligence. This will help you keep track of who gets what and what your interactions with each team look like.</p>
      </li>
      <li class='screen'>
        <div class='media comm'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/comm_icon_1.png'>
          <img class='icon' src='https://s3.amazonaws.com/jebbles-codepen/comm_icon_2.png'>
        </div>
        <h3>
          Communication
          <br>Tools</br>
        </h3>
        <p>Feel free to leave a comment under any Indicator, Report, or Intelligence Requirement for others to comment back on. This is a quick and easy way to stay connected and on track!</p>
      </li>
    </ul>
    <button class='prev-screen'>
      <i class='icon-angle-left'></i>
    </button>
    <button class='next-screen'>
      <i class='icon-angle-right'></i>
    </button>
  </div>
  <div class='walkthrough-footer'>
    <button class='button next-screen'>Next</button>
    <button class='button finish close' disabled='true'><a href="{{url_for('homepage')}}"><span style="color:#fff;">Finish</span></a></button>
  </div>
</div>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
  <script  src="static/assets/js/welcome.js"></script>

</body>
</html>
