SECRET_KEY=Change_This_Key

#default is a sqllite database
SQLALCHEMY_DATABASE_URI=sqlite:////db/threatnote.db

#if you prefer mysql need to install PyMySQL and put in your database
#SQLALCHEMY_DATABASE_URI=mysql+pymysql://username:password@localhost:3306/db_name?charset=UTF8MB4

#if you prefer postgresql need to install psycopg2
#SQLALCHEMY_DATABASE_URI=postgresql:///db_name

